<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/MyApp/hod_change_password">Hod Change Password</a><br>
<a href="/MyApp/hod_view_leave_request/">Hod View leave request</a><br>
<a href="/MyApp/hod_view_service_details_of_other_staff/">Hod View service details of other staff</a><br>
<a href="/MyApp/hod_view_staff/">Hod View staff</a><br>
<a href="/MyApp/send_leave_request/">Send leave request</a><br>
<a href="/MyApp/view_forwarded_leave_request/">View forwarded leave request</a><br>
{#<a href="/MyApp/view_leave_request_and_forward_to_principal/">View leave request and forward to principal</a><br>#}
<a href="/MyApp/view_profile/">View profile</a><br>
<a href="/MyApp/view_service_details/">View service details</a><br>
<a href="/MyApp/login/">Logout</a><br>

</body>
</html>