{% extends 'admin/adminhomepageindex.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/MyApp/admin_change_password_post/">
    {% csrf_token %}
  <table class="table table-bordered">
    <tr>
      <td width="92">Current Password</td>
      <td width="176"><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" /></td>
    </tr>
    <tr>
      <td>New Password</td>
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" /></td>
    </tr>
      <tr>
      <td>Confirm Password</td>
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" /></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="button" id="button" value="Submit" />
      </div></td>
    </tr>
  </table>
</form>
{% endblock %}
