<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/MyApp/add_department/">Add department</a><br>
<a href="/MyApp/view_department/">View department</a><br>
<a href="/MyApp/add_hod/">Add hod</a><br>
<a href="/MyApp/view_hod/">View hod</a><br>
<a href="/MyApp/add_staff/">Add staff</a><br>
<a href="/MyApp/view_staff/">View staff</a><br>
<a href="/MyApp/admin_change_password/">Admin change password</a><br>
<a href="/MyApp/view_approved_requests/">View approved requests</a><br>
<a href="/MyApp/view_leave_request/">View leave request</a><br>
<a href="/MyApp/view_rejected_request/">View rejected requests</a><br>
<a href="/MyApp/view_service_details_of_other_staff/">View service details of other staff</a><br>
<a href="/MyApp/login/">Logout</a><br>
</body>
</html>